
.post{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shaddow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    margin: 30px 0px;
}


.postWrapper{
    padding: 10px;
}

.postTop{
    display: flex;
    align-items: center;
}


.postTopLeft{
    display: flex;
    align-items: center;
}

.postProfileImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername{
    font-size: 15px;
    font-weight: 500;
    margin: 0px 10px;
}

.postDate{
    font-size: 12;
}

 
.postCenter{
    margin: 20px 0px;
}


.postCenter .postImg, img {
    margin-top: 20px;
    width: 100%;
    max-height: 800px;
    object-fit: cover;
}


.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.postBottomLeft{
    display: flex;
    align-items: center;
}


.imojiIcon{
    width: 25px;
    height: 25px;
    margin-right: 0px;
    cursor: pointer;
}


.postCommenttext{
    cursor: pointer;
    border-bottom: 1px solid #000;
}

/* .divider{
    margin: 10px;
}

.postLikeCounter{
    margin: 15px;
} */